*{
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.844),rgba(255, 255, 255, 0.745)), url(images/momBeautiful2.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.fa-bars {
    color: rgb(77, 37, 163);
    cursor: pointer;
    padding-right: 25px;
    font-size: 25px;
}
.fa-times {
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 40px;
    font-size: 25px;
    cursor: pointer;
}
.nav .fa {
    display: none;
}
.nav img {
    width: 150px;
    padding: 25px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.links {
    flex: 1;
    text-align: left;
}
.links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 16px 24px;
    position: relative;
}
.links ul li a{
    color: rgb(77, 37, 163);
    text-decoration: none;
    font-size: 20px;
    font-family: serif;
}
.links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(77, 37, 163);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.links ul li:hover::after {
    width: 100%;
}

.hero {
    padding-left: 50px;
    text-align: left;
}
.hero h1 {
    font-size: 50px;
    color: rgb(102, 46, 224);
    padding-top: 80px;
    font-family: sans-serif;
}
.goal {
    font-size: 35px;
    color: rgb(102, 46, 224);
    padding-top: 25px;
    font-family: serif;
    padding-bottom: 25px;
}
.phone {
    font-size: 35px;
    color: rgb(102, 46, 224);
    font-family: serif;
    padding-bottom: 50px;
}
.help {
    font-size: 30px;
    font-family: serif;
    color: rgb(77, 37, 163);
    text-decoration: none;
    border: 2px solid rgb(77, 37, 163);
    padding: 12px 34px;
    background: transparent;
}
.help:hover {
    transition: 1s;
    background-color: rgb(77, 37, 163);
    color: white;
}
.hero h2 {
    font-size: 20px;
    color: rgb(102, 46, 224);
    padding-top: 50px;
    font-family: serif;
    font-weight: 1;
    font-style: italic;
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
}
.statements {
    min-height: 100vh;
}
.mission h1 {
    text-align: center;
    color:rgb(77, 37, 163);
    margin: 50px;
    font-family: sans-serif;
    font-size: 50px;
}
.mission p {
    text-align: center;
    color:rgb(77, 37, 163);
    margin: 50px;
    font-family: serif;
    font-size: 25px;
}
.vision h1 {
    text-align: center;
    color:rgb(77, 37, 163);
    margin: 50px;
    font-family: sans-serif;
    font-size: 50px;
}
.vision p {
    text-align: center;
    color:rgb(77, 37, 163);
    margin: 50px;
    font-family: serif;
    font-size: 25px;
}
.history h1 {
    text-align: center;
    color:rgb(77, 37, 163);
    margin: 50px;
    font-family: sans-serif;
    font-size: 50px;
}
.history p {
    text-align: center;
    color:rgb(77, 37, 163);
    margin: 50px;
    font-family: serif;
    font-size: 25px;
}
.history p a:hover {
    color: rgba(220, 13, 154, 0.81);
}
.footer {
    min-height: 50vh;
}
.terms h1 {
    text-align: center;
    color: rgb(77, 37, 163);
    font-size: 12px;
    padding-top: 50px;
    font-weight: 1;
    padding-bottom: 20px;
}
.terms h1 a {
    text-decoration: none;
    color: rgb(77, 37, 163);
}
.terms h1 a:hover {
    text-decoration: underline;
    color: rgba(220, 13, 154, 0.81);
}
.fa-youtube-play {
    font-size: 200px;
    color: red;
    letter-spacing: 40px;
}
.fa-envelope {
    font-size: 200px;
    color: rgb(77, 37, 163);
    letter-spacing: 40px;
}
.fa-twitter {
    font-size: 200px;
    color: rgb(0, 136, 255);
    letter-spacing: 40px;
}
.fa-facebook-official {
    font-size: 200px;
    color: blue;
    letter-spacing: 40px;
}
.socials ul {
    text-align: center;
    padding-left: 25px;
    padding-top: 25px;
}
.socials ul li {
    list-style-type: none;
    display: inline-block;

}
.address {
    text-align: center;
    padding: 100px;
    font-size: 20px;
    color: rgb(77, 37, 163)
}
.socials h1 {
    text-align: center;
    color:rgb(77, 37, 163);
    margin: 50px;
    font-family: sans-serif;
    font-size: 50px;
}
@media(max-width: 950px) {
    .links {
        position: absolute;
        background: rgb(77, 37, 163);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
   .nav .fa {
    display: block;
   }
    .hero {
        text-align: center;
        padding-left: 0;
    }
    .links ul li {
        display: block;
    }
    .links ul li a {
        color: white;
    }
    .history p{
        font-size: 19px;
    }
    .vision p {
        font-size: 19px;
    }
    .mission p {
        font-size: 19px;
    }
    .header {
        background-image: linear-gradient(rgba(255, 255, 255, 0.844),rgba(255, 255, 255, 0.745)), url(images/momBeautiful.jpeg);
    }
}
@media(max-width: 1300px) {
    .socials ul li i{
        font-size: 125px;
    }
    .socials ul li {
        display: block;
    }
}